<main>
    <h1>{{wine.name}}</h1>
    <img class="cube" src="{{wine.imageUrl}}">
    <div class="details">
        <p><span>Origin:</span>{{wine.origin}}</p>
        <p><span>Type:</span>{{wine.type}}</p>
        <p><span>Market rating:</span>{{wine.market-rating}}</p>
        <a class="btn" href="/">Back</a>
        <a class="btn" href="/accessory/{{wine._id}}">Attach</a>

    </div>
</main>