<main>
    <h1>{{wine.name}}</h1>
    <img class="cube" src="{{wine.imageUrl}}">
    <div class="details">
        <p><span>Origin:</span>{{wine.origin}}</p>
        <p><span>Type:</span>{{wine.type}}</p>
        <p><span>Market rating:</span>{{wine.market-rating}}</p>
        <a class="btn" href="/">Back</a>

        {{#if user}}
        <a class="btn" href="/accessory/{{wine._id}}">Attach Accessory</a>
            {{#if isOwner}}
            <a class="btn" href="/wine/{{wine._id}}/edit">Edit Wine</a>
            <a class="btn" href="/wine/{{wine._id}}/delete">Delete Wine</a>
            {{/if}}
        {{/if}}
    </div>
    <h2>Accessories</h2>
    <div class="accessories">
        {{#each wine.accessories}}
        <div class="accessory">
            <img src="{{imageUrl}}" alt="accessory name">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        {{else}}
        <h3 class="italic">This wine has no accessories yet...</h3>

        {{/each}}
    </div>

</main>