<main>
    <h1>Attach a new accessory</h1>
    <div class="form">
        <h2>{{wine.name}}</h2>
        <img class="cube" src={{wine.imageUrl}}>
        <form action="/accessory/{{wine._id}}" method="POST">
            <label for="accessory">Accessories</label>
            {{#if accessories}}
            <select id="accessory" name="accessory" />
            {{#each accessories}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
            </select>
            {{else}}
            <h3 class="italic">This wine has all available accessories so far or there is no available at all...</h3>
            {{/if}}
            <input type="submit" value="Attach" {{#unless accessories}} disabled {{/unless}}>
        </form>
        <a class="btn" href="/wine/details/{{wine._id}}">Back</a>
    </div>
</main>